body {
  background-image: url("static/css/img/background_perm.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  font-size: 50px;
  color: #ffffff;
  -webkit-text-stroke: 0px #000000;
}

.image {
  background: url("static/css/img/TEST_COVER.png");
  width: 600px;
  height: 70px;
}

p {
  padding-left: 10px;
  padding-top: 2px;
}

.lobby {
  background: url("static/css/img/LOBBIES_BG.png");
  width: 50%;
  height: 90%;
  color: #ffffff;
  font-size: 20px;
  position: absolute;
  top: 34px;
  right: 30px;
}

.result {
  background: url("static/css/img/LOBBIES_BG.png");
  width: 80%;
  height: 20%;
  color: #ffffff;
  font-size: 15px;
  position: absolute;
  top: 80%;
  left: 10%;
  right: 10%;
}
