<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Crocod.AI: Играй с друзьями!</title>
    <link href="static/css/style.css" rel="stylesheet" type="text/css" >
    <link rel="icon" href="static/css/img/favicon.png" />
  </head>
  <body>
    <div>
      <img src="static/css/img/logo.png" height="60%" width="60%" hspace="20%" vspace="15px">
    </div>
    <div>
 <! -- ввод имени - как отправлять на сервер?  -->
      <form>
  	<input type="text" name="name" hspace="41%" vspace="1%"> <br>
      </form>
      <a href="lobby.html">
      	<img src="static/css/img/button_play.png" height="20%" width="20%" hspace="38%" vspace="1%">
      </a>
    </div>
  </body>
</html>
